{% extends 'base.html' %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to Ecommerce Website</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br><br>
                <p align="justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel hendrerit erat. Fusce accumsan quis erat eget vestibulum. Nunc feugiat diam eget libero rutrum, non dictum nunc posuere. Nunc vitae dignissim risus. Sed augue nisi, venenatis nec euismod ut, rutrum ac odio. Duis malesuada lacus nec tristique blandit. Nullam malesuada lorem sit amet nisl sollicitudin lobortis. Cras interdum quis dolor ut blandit. Maecenas porttitor fringilla auctor. Etiam dignissim auctor lorem ac condimentum. Praesent ut imperdiet metus. Duis commodo, elit in egestas scelerisque, est nibh placerat arcu, scelerisque tincidunt justo felis eget arcu. Duis gravida enim metus, feugiat dignissim eros lobortis id. Pellentesque sodales pharetra ex.
                    <br><br>
                    Etiam sed felis sodales, consectetur enim a, mattis eros. Etiam a odio dictum, tincidunt ipsum at, pharetra est. Etiam augue orci, sollicitudin ac metus a, ornare tempus augue. Praesent accumsan est non ipsum faucibus aliquam. Proin porttitor at sapien sit amet rutrum. Nullam non nulla nunc. Maecenas viverra condimentum justo et fringilla. In et porttitor mi. In hac habitasse platea dictumst. Phasellus posuere laoreet diam sed vulputate.
                    <br><br>
                </p>
            </div>
        </center>

    </div>

</div>
{% endblock %}